{% load static %}
{% load catalog_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'catalog/css/styles.css' %}" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
<header>
    <ul class="menu">
        <div class="menu_left">
        <li><a href="{% url 'home' %}"><img class="icon" src="{% static 'catalog/images/pencil.png' %}" ></a></li>
        <li><a href="{% url 'shop' %}"><h2>Каталог</h2></a></li></div>
        <div class="menu_right">
        <li><a href="{% url 'basket' %}"><img src="{% static 'catalog/images/basket.png' %}"></a></li>
        <li><a href="#"><img src="{% static 'catalog/images/user.png' %}"></a></li>
                    <li><a href="{% url 'register' %}">register</a></li>
            <li><a href="{% url 'authorization' %}">authorization</a></li></div>
    </ul>
</header>
{% block content %}
{% endblock %}
<footer class="">
    <div>
    <h3>Покупателям</h3>
    <ul>
        <li><a href="#">Доставка</a></li>
        <li><a href="#">Возврат товара</a></li>
        <li><a href="#">Вопросы и ответы</a></li>
    </ul></div>
    <div>
    <h3>Компания</h3>
    <ul>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Реквизиты</a></li>
        <li><a href="#">Контакты</a></li>
    </ul></div>
    <div>
    <h3>Мы в социальных сетях</h3>
        <ul class="menu">
    <li><a href="#"><img src="{% static 'catalog/images/vk.png' %}" width="40px" height="40px"></a></li>
    <li><a href="#"><img src="{% static 'catalog/images/tg.png' %}" width="40px" height="40px"></a></li>
        </ul></div>
</footer>
</body>
</html>