{% extends 'catalog/base.html' %}

{% block content %}
<div class="content">
    {% for i in items %}
    <table>
        <tr>
            <th>{{i.product.name}}</th>
            <th>{{i.product.category}}</th>
            <th><img src="{{i.product.photo.url}}" width="40px" height="40px"></th>
            <th>{{i.product.brand}}</th>
            <th>{{i.product.price}}</th>
            <th>количество {{i.amount}}</th>
        </tr>
    </table>
    <br>
    {% endfor %}
                <form action="#" method="POST" >
                            {% csrf_token %}
                 <button type="submit">Сделать заказ</button>

            </form>
</div>
{% endblock %}