{% extends 'catalog/base.html' %}
{% load static %}

{% block content %}
<div class="products">
{% for m in items%}
<div class="product-wrapper">
    <a href="{{m.get_absolute_url}}" class="product">
        <h3>{{m.name}}</h3>
    <p>{{m.category}}</p>
    <p>Цена: {{m.price}}</p>
    <p>Бренд: {{m.brand}}</p>
        <div class="product-photo">
            <img src="{{m.photo.url}}">
        </div>
    {% if m.quantity_in_stock == 0 %}
    нет в наличии
    {% endif %}

    </a>
</div>
{% endfor %}
</div>
{% endblock %}